{{define "base"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Faster+One&family=Monoton&family=Oswald&display=swap" rel="stylesheet"> 
    <link rel="shortcut icon" href="/ui/static/favicon.ico">
    <link rel="stylesheet" href="/ui/static/style.css">
    <script src="http://code.jquery.com/jquery-2.2.1.min.js"></script>
    <title>{{template "title" .}}</title>
</head>
<body>
    <div id="loading">
        <div class="wrapperanimate">
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="circle"></div>
          <div class="shadow"></div>
          <div class="shadow"></div>
          <div class="shadow"></div>
          <span>Loading...</span>
        </div>
    </div>
    <header>
        <h1>Groupie Tracker</h1>
    </header>
    <main>
        {{template "main" .}}
    </main>
    <footer>This website is made using <strong>Golang</strong></footer>
</body>
</html>

<script>
    $(window).on('load', function () {
      $('#loading').hide();
    }) 
  </script>
{{end}}