html {
    font: 112.5%/1.625 -apple-system,'Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}

.title {
    display: flex;
flex-direction: column;
height: calc(-10px + 10vh);
text-align: center;

}

.element {
    display: inline-block;
    overflow: hidden;
    background: rgb(65, 74, 99) none repeat scroll 0% 0%;
    border-radius: 0.5rem;
    margin: 10px;
}

h2 {
    color: inherit;
font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
font-weight: 800;
text-rendering: optimizeLegibility;
color: rgb(255, 255, 255);
line-height: 1.1;
}

.label{
    color: antiquewhite;
text-align: center;
}

