<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="/assets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
  <title>Groupie-Tracker</title>
</head>

<body>
  {{$Artists := .}}
  <div class="wrapper"></div>
  <div class="container">
    <a href="/" class="title">Groupie Trackers</a> <br> <br>
    <p>It is working!</p>
    <!-- <form action="/" method="POST"><br> -->
      {{.ID}}
      <br>
      {{.Name}}
      <!-- {{range .API.Artists}}
      {{.Name}}
      {{end}} -->
      <!-- {{range .}}
      <p>{{.index}}</p>
      {{end}} -->
      <!-- {{range $i, $v := .Artists}} 
      <img src="{{$v.Image}}"> <br>
      <a href="/group" class="label" name="dir" id="dir" action="click">{{$v.Name}}</a><br></option>
      {{end}} -->
    <!-- </form> -->
  </div>
</body>
</html>