
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes">
  <link rel="stylesheet" href="/assets/main.css">
  <link href="https://fonts.googleapis.com/css?family=Faster+One" rel="stylesheet">
  <title>Groupie Tracker Project</title>
</head>

<body>
  <header>
    <nav><a href="/" class="title1">Main Page</a> <br> <br></nav>
  </header>
  <div class="wrapper">
    <h1 class="title">Groupie Tracker</h1>
  </div>
  <div class="gallery">
      {{$API := .}}
      {{range $i, $v := .Artists}} 
      <div class="element">
      
        <img src="{{$v.Image}}"> <br>
        <a href="/artist/{{$v.ID}}" class="label" name="dir" id="dir" action="click">
          <h3>{{$v.Name}}</h3>
      </a><br></option>
    </div>
    {{end}}
  </div>
</body>
</html>